.banner {
	color: rgb(28, 42, 57);
	text-align: right;
	padding: 15px;
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 158, 158);
	justify-content: flex-end;
	align-items: center;
}

.title {
	padding: 15px;
}

.link {
	padding-right: 110px;
	font-style: italic;
	text-decoration: underline;
}

.lmj-logo {
	height: 100px;
}