.banner {
	color: rgb(28, 42, 57);
	text-align: right;
	padding: 15px;
	display: flex;
	flex-direction: row;
	background-color: rgb(251, 211, 102);
	justify-content: flex-end;
	align-items: center;
}

.link {
	padding-right: calc(10% - 16px);
	font-style: bold;
	color: rgb(28, 42, 57);
	text-decoration: none;
}

.logo {
	padding-right: calc(5% - 16px);
	height: 100px;
}