.aligne {
  text-align: center;
  font-weight: 600;
}
.aligne-title {
    text-align: center;
    text-decoration: none;
}

.bienvenue {
    max-width: 900px;
    margin: 0 auto;
  }
  

  

  

  

  
