
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

select,
input[type='number'] {
  flex-basis: 9%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-title{
  color:rgb(251, 211, 102);
  text-align: center;
}

.filter-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.filter-button {
  width: 50%;
  padding: 10px;
  margin: 4px;
  border: none;
  border-radius: 3px;
  background-color: #eae8e2;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  color : black;
}

.filter-button:hover {
  background-color: rgb(251, 211, 102);
}

.filter {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: transparent;
  transition: left 0.3s ease;
}

.filter.visible {
  background-color: rgb(78, 77, 75);
  left: 0;
}

.label-police{
  color:rgb(255, 255, 255);
  font-size: 17px;
  font-weight: bold;
}

#police{
  display: inline-block;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: 5px;
  margin-top: 4px;
  background-color: transparent;
  outline: none;
  width: 50%;
}

.toggle-filters {
  position: fixed;
  top: 60px;
  left: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
}

.toggle-icon {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease;
}

.toggle-icon::before {
  top: -8px;
}

.toggle-icon::after {
  bottom: -8px;
}

.toggle-button{
  width: 60px;
  height: 60px;
  background-color:transparent;
  border-color: transparent;
  position: relative;
  top: -30px;
  left: -10px;
  cursor: pointer;
}

.filter.visible .toggle-icon {
  transform: rotate(90deg);
  background-color: rgb(251, 211, 102);
}

.filter.visible .toggle-icon::before {
  transform: rotate(45deg);
  background-color: rgb(251, 211, 102);
}

.filter.visible .toggle-icon::after {
  transform: rotate(-45deg);
  background-color: rgb(251, 211, 102);
}

.filter-container {
  padding: 50px;
}
