.footer {
	color: rgb(28, 42, 57);
	text-align: right;
	padding: 15px;
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 158, 158);
	align-items: center;
    justify-content: center;
}

.footer-text {
    text-align: center;
}