.recipePage {
    margin: 10%;
}

.textRecipe {
    text-align: left;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
  padding: 20px;
  text-align: left;
}

.render {
    margin: 16px;
    border: solid 2px black;
    border-radius: 10px;
    width: calc(50% - 16px);

}

.error {
    color: red;
    margin: 350px;
    text-decoration: none;
}

/* For Ingredient table */
.table-container {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .recipe-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
  }
  
  .recipe-button {
    width: 4%;
    padding: 10px;
    margin: 4px;
    border: none;
    border-radius: 3px;
    background-color: #000203;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .recipe-button:hover {
    background-color:rgb(251, 211, 102);
  }
