.recipePage {
    margin-left: 250px;
    margin-right: 250px;
    padding: 30px;
}

.textRecipe {
    text-align: left;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.render {
    margin: 16px;
    border: solid 2px black;
    border-radius: 10px;
    width: 100px;

}

.error {
    color: red;
    margin: 350px;
    text-decoration: none;
}

/* For Ingredient table */
.table-container {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  