.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content{
  flex:1;
}

h1 {
  text-align: center;
  text-decoration: none;
}

h2 {
  padding: 20px;
  text-align: left;
  color: rgb(251, 211, 102);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.picture {
  margin: 16px;
  border: solid 2px black;
  border-radius: 10px;
  width: calc(65% - 16px);
}

@media (max-width: 500px) {
  .picture {
    width: calc(50% - 16px);
  }
}

.footer {
  padding: 15px;
  background-color: rgb(251, 211, 102);
  color: rgb(28, 42, 57);
  text-align: center;
  margin-top: auto;
}